canvas {
    /* border: 1px solid black; */
}

body {
    background: url('https://i.imgur.com/fhQ8kbt.png') no-repeat center center fixed; 
    background-size: cover;
}

#canvas {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 800px;
    }
}